.sidebar {
  width: 200px;
  float: left;
  font-size: 15px;
  border: 2px solid black;
  margin: 2px;
  background-color: gray;
}

.sidebar-image {
  width: 200px;
  border: 1px solid black;
}

.row-1 {
  float:none;
  margin-left: 200px;
}

.row-2 {
  float:right;
  margin-left: 200px;
  font-size: 45px;
}

.row-3 {
  float: left;
  margin-left;
}

.row-4 {

}
